:root {
    --primary: #fffafa;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn--primary {
    background-color: var(--primary);
    color: #000000;
    border: 1px solid #343434;
    display: flexbox;
    height: 80%;
    /* text-decoration: none;
    align-items: center;
    justify-content: center;
    transform: translate(0%, 10%); */
}

.btn--outline {
    background-color: transparent;
    color: #000000;
    padding: 8px 20px;
    border: 1px solid #343434;
    transition: all 0.3s ease-out;
    /* display: flexbox;
    height: 80%;
    text-decoration: none;
    align-items: center;
    transform: translate(0%, 10%); */
}

.btn--medium {
    padding: 8px 20px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    /* height: 3rem; */
}

.btn--large {
    padding: 12px 26px;
    font-family: 'Rubik', sans-serif;
}

.btn--medium:hover, .btn--large:hover {
    transition: all 0.3s ease-out;
    background: #000000;
    color: #fffafa;
    transition: 250ms;
}