.cards:after {
  background: #9c9c9c;
  content: '';
  display: block;
  width: 100%;
  height: 0.6px;
}

.cards__title {
  text-align: center;
  margin: 2rem;
  border: 5px solid #5c5757;
  border-left: none;
  border-right: none;
  text-decoration: none;
  color: black;
}

.cards__title:before {
  background: #ffe3e1;
  height: 5px;
  width: 100%;
  top: 0;
  content: '';
  display: block;
  transform: translateY(-1.5rem);
}

.cards__container {
  background-color: #ffe3e1;
}

.cards__items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem 1rem 0;
}

.cards__item {
  list-style: none;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.cards__item--link {
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.cards__item__pic--wrap {
  width: 30vh;
  height: 35vh;
  position: relative;
  overflow: hidden;
}

.cards__item__pic--wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
  transform: translate(-5%, -10%);
  z-index: 1;
}

.cards__item__pic--wrap::before {
  content: 'Chap ' attr(data-chap);
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
  transform: translate(-8%, 10%);
  border-radius: 6px;
  z-index: 1;
}

.cards__item--img {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 10px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 10px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  object-fit: cover;
}

h4 {
  text-align: center;
  font-size: 20px;
}

.cards__item--text {
  display: none;
}

.btn-cfa {
  text-align: center;
  font-size: 20px;
  background: #242424;
  color: #fff;
  padding: 1rem;
}

.fa-caret-right {
  font-size: 17px;
}