.navbar {
    /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
    background: #fffafa;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar:after {
    background-color: #ffe1e1;
    bottom: 0;
    content: '';
    display: block;
    height: 0.06rem;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: 80%;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 94rem;
}

.navbar-logo {
    width: 20rem;
    height: 4rem;
    justify-self: start;
    margin-left: 1.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navbar-logo .navbar-logo__komine-head {
    position: relative;
    width: auto;
    height: 4rem;
    padding-right: 0.5rem;
    padding-left: 2.5rem;
    justify-self: start;
    justify-content: center;
}

.navbar-logo .navbar-logo__main-logo {
    position: relative;
    height: 100%;
    width: 10rem;
    justify-content: center;
    justify-self: end;
}

.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 0.7rem;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    height: 80px;
}

.nav-links {
    color: #000000;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.nav-links:hover {
    border-bottom: 4px solid #000000;
    transition: all 0.2s ease-out;
    color: #ff7a7a;
}

.fa-bars {
    color: #000000;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 5rem;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #fffafa;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        color: #ff7a7a;
        border-radius: 0;
        border-bottom: none;
    }

    .navbar-logo {
        position: flex;
        top: 0;
        left: 0;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #000000;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fffafa;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    }

    .nav-links-mobile:hover {
        background: #fffafa;
        color: #242424;
        transition: 250ms;
    }
}