.slider-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    box-shadow: inset 0 0 0 1000px rgba(255, 250, 250, 0);
    object-fit: cover;
    overflow: hidden;
}

.slide {
    position: relative;
    min-width: 100%;
    height: 90%;
    transition: 0.5s;
}

#goLeft {
    left: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 2.5rem;
    background: none;
    color: #fffafa;
    cursor: pointer;
    opacity: 0.15;
}

#goLeft:hover, #goRight:hover {
    color: #000;
    opacity: 1;
}

#goLeft:focus, #goRight:focus {
    border: none;
    outline: none;
}

#goRight {
    right: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 2.5rem;
    background: none;
    color: #fffafa;
    cursor: pointer;
    opacity: 0.15;
}

.slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    padding-top: 5px;
}

@media screen and (max-width: 960px) {
    .slider-container {
        height: 60vh;
        width: 100%;
        box-shadow: none;
    }

    .slide img {
        padding-top: 0;
        transform: translateY(2%);
    }

    #goLeft {
        display: none;
    }

    #goRight {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .slider-container {
        height: 30vh;
        width: 100%;
        box-shadow: none;
    }
}