.poster-container {
    display: flex;
    flex-direction: column;
    background: #ff9432;
    margin-top: 5px;
    width: 100%;
    height: 37vh;
    overflow: hidden;
    position: absolute;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    /* display: none; */
}

.poster-container > h1 {
    position: absolute;
    color: #fff;
    font-size: 57px;
    z-index: 1;
}

.poster-container > p {
    position: absolute;
    color: #00b19a;
    font-size: 20px;
    margin-top: -100px;
    z-index: 1;
}

.poster {
    position: relative;
}

.poster > img {
    position: relative;
    transform: scale(0.15) translateX(44%) ;
}